---
import Layout from '../layouts/Layout.astro';
import PostDate from '../components/PostDate.astro';
import Card from '../components/Card.astro';

const allTravel = await Astro.glob('./travel/*.md');
allTravel.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

const posts = await Astro.glob('./posts/*.md');
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<Layout title="Dave Beer's travel site.">
	<main>
		<h1>Davewasthere</h1>

		{ posts.filter(p => p.frontmatter.published !== false).map((post) => {
			
			return (
				<article>
					<PostDate dateString={post.frontmatter.date} /> <a href={post.url}>{post.frontmatter.title}</a>
					<p>{post.frontmatter.description}</p>
					
					<Card href={post.url} title={post.frontmatter.title} body={post.frontmatter.description}></Card>

				</article>
			)
		}) }


		{ allTravel.map((post) => {
			
			return (
				<article>
					<PostDate dateString={post.frontmatter.date} /> <a href={post.url}>{post.frontmatter.title}</a>
					<p>{post.frontmatter.description}</p>
					
				</article>
			)
		}) }


	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
