---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allTravel = await Astro.glob('./travel/*.md');
allTravel.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

const posts = await Astro.glob('./posts/*.md');
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<Layout title="Dave Beer's travel site.">
	<main>
		<h1>Davewasthere</h1>

		{ posts.filter(p => p.frontmatter.published !== false).map((post) => {
			
			return (
				<Card date={post.frontmatter.date} href={post.url} title={post.frontmatter.title} body={post.frontmatter.description}></Card>
			)
		}) }


		{ allTravel.map((post) => {
			
			return (
				<Card date={post.frontmatter.date} href={post.url} title={post.frontmatter.title} body={post.frontmatter.description}></Card>
			)
		}) }


	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
	}
</style>
