---
const { frontmatter } = Astro.props;
import PostDate from '../components/PostDate.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<!-- { frontmatter.headerImage !== null && <header style=`background-image: url('${frontmatter.headerImage}')`></header>} -->
		<main>
			<h1>{frontmatter.title}</h1>
			{ frontmatter.date && <PostDate dateString={frontmatter.date} /> }
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	body{
		margin: 0;
	}
	header {
		background-size: cover;
		background-position: center;
		height: 20rem;
		padding: 0;
		margin: 0;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 120ch;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
	}
	h2{
		font-size: 2rem;
		font-weight: 600;
		margin: 0;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 0;
	}
	p{
		margin-bottom: 1rem;
	}
</style>
